# rolling特徴量の作成

In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open('../data/pickle/diff_time_data.pkl', mode='rb') as f:
    df = pickle.load(f)

In [3]:
df.head()

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os,diff
0,3,NaN,379,NaN,1509978741,1,83230,0.0,13,NaN
1,3,NaN,379,NaN,1509978814,1,17357,0.0,19,NaN
2,3,NaN,379,NaN,1509978852,1,35810,0.0,13,NaN
3,14,NaN,478,NaN,1509978892,1,45745,0.0,13,NaN
4,3,NaN,379,NaN,1509978908,1,161007,0.0,13,NaN

In [4]:
df.index = df.click_time

In [5]:
df.click_time = pd.to_datetime(df.click_time, unit='s')
df.index = pd.to_datetime(df.index, unit='s')

In [7]:
df['diff'] = df['diff'] * -1

In [8]:
grouped = df.groupby('ip').app.rolling('300s').count()

In [9]:
grouped = grouped.groupby(['ip', 'click_time']).max()

In [10]:
windowed_df = grouped.reset_index()

In [11]:
merged = pd.merge(df, windowed_df, on=['ip', 'click_time'])

In [12]:
merged.columns = ['app', 'attributed_time', 'channel', 'click_id', 'click_time', 'device', 'ip', 'is_attributed', 'os', 'diff', 'window_count']

In [30]:
len(merged)

242441395

In [29]:
pickle.dump(merged[['ip', 'click_time','window_count']], open("../data/pickle/add_rolling_and_diff_feature.pkl", 'wb'), protocol=4)

In [27]:
max(merged.window_count)

4213.0

## マージするための確認

In [31]:
with open('../data/pickle/add_rolling_and_diff_feature.pkl', mode='rb') as f:
    df = pickle.load(f)

In [16]:
with open('../data/pickle/test.csv.pkl', mode='rb') as f:
    test_df = pickle.load(f)

In [17]:
test_df.head()

   click_id      ip  app  device  os  channel           click_time
0         0    5744    9       1   3      107  2017-11-10 04:00:00
1         1  119901    9       1   3      466  2017-11-10 04:00:00
2         2   72287   21       1  19      128  2017-11-10 04:00:00
3         3   78477   15       1  13      111  2017-11-10 04:00:00
4         4  123080   12       1  13      328  2017-11-10 04:00:00

In [18]:
test_df['click_time'] = pd.to_datetime(test_df['click_time'])

In [20]:
merged_df = ll

In [23]:
merged_df = merged_df.drop_duplicates()

In [27]:
merged_df.head()

,click_id,ip,app,device,os,channel,click_time,window_count
0,0,5744,9,1,3,107,2017-11-10 04:00:00,5.0
1,1,119901,9,1,3,466,2017-11-10 04:00:00,62.0
2,2,72287,21,1,19,128,2017-11-10 04:00:00,12.0
3,3,78477,15,1,13,111,2017-11-10 04:00:00,20.0
4,4,123080,12,1,13,328,2017-11-10 04:00:00,5.0

In [28]:
merged_df[merged_df['ip'] == 119901]

,click_id,ip,app,device,os,channel,click_time,window_count
1,1,119901,9,1,3,466,2017-11-10 04:00:00,62.0
923,538,119901,3,1,22,130,2017-11-10 04:00:01,63.0
3931,2341,119901,12,1,13,265,2017-11-10 04:00:03,64.0
9795,5548,119901,8,1,13,145,2017-11-10 04:00:06,65.0
10143,5732,119901,12,1,13,178,2017-11-10 04:00:06,65.0
10488,5925,119901,12,1,13,178,2017-11-10 04:00:07,67.0
10902,6147,119901,8,1,13,145,2017-11-10 04:00:07,67.0
16674,9204,119901,12,1,13,265,2017-11-10 04:00:10,69.0
17936,9849,119901,26,1,3,477,2017-11-10 04:00:10,69.0
60981,30370,119901,15,1,3,315,2017-11-10 04:00:30,70.0
70830,35092,119901,2,1,3,469,2017-11-10 04:00:34,71.0
71737,35575,119901,14,1,3,439,2017-11-10 04:00:35,72.0
104942,52279,119901,8,1,13,145,2017-11-10 04:00:52,73.0
105599,52665,119901,12,1,13,178,2017-11-10 04:00:53,75.0
105615,52677,119901,12,1,13,265,2017-11-10 04:00:53,75.0
119661,59790,119901,12,1,13,265,2017-11-10 04:01:00,71.0
201788,103801,119901,9,1,19,334,2017-11-10 04:01:51,68.0
226770,116766,119901,17,1,13,128,2017-11-10 04:02:05,68.0
226881,116832,119901,6,1,13,459,2017-11-10 04:02:05,68.0
231395,119429,119901,6,1,8,459,2017-11-10 04:02:08,69.0
232059,119760,119901,17,1,8,128,2017-11-10 04:02:09,70.0
246219,127199,119901,14,1,13,467,2017-11-10 04:02:17,72.0
246985,127644,119901,12,1,13,265,2017-11-10 04:02:17,72.0
292701,154447,119901,12,1,13,105,2017-11-10 04:02:46,65.0
296130,156579,119901,12,1,13,265,2017-11-10 04:02:49,66.0
321435,171175,119901,18,1,13,107,2017-11-10 04:03:04,60.0
328870,175488,119901,12,1,18,265,2017-11-10 04:03:09,56.0
348579,187236,119901,3,1,18,19,2017-11-10 04:03:22,57.0
381218,205566,119901,3,1,37,452,2017-11-10 04:03:42,56.0
400625,215944,119901,23,1,18,153,2017-11-10 04:03:53,54.0
...,...,...,...,...,...,...,...,...
38811608,18511318,119901,2,1,13,219,2017-11-10 14:54:31,17.0
38815539,18513164,119901,18,1,13,121,2017-11-10 14:54:33,18.0
38821746,18516291,119901,9,1,13,445,2017-11-10 14:54:37,23.0
38821811,18516324,119901,3,1,19,211,2017-11-10 14:54:37,23.0
38822423,18516647,119901,2,1,19,236,2017-11-10 14:54:37,23.0
38822442,18516657,119901,9,1,19,127,2017-11-10 14:54:37,23.0
38822454,18516665,119901,12,1,19,340,2017-11-10 14:54:37,23.0
38827764,18519447,119901,12,1,13,205,2017-11-10 14:54:41,22.0
38838011,18524013,119901,3,1,13,489,2017-11-10 14:54:47,23.0
38839616,18524776,119901,27,1,13,153,2017-11-10 14:54:48,24.0
38853833,18531499,119901,23,1,13,153,2017-11-10 14:54:56,25.0
38861926,18535677,119901,18,1,13,107,2017-11-10 14:55:02,26.0
38862075,18535740,119901,18,1,13,439,2017-11-10 14:55:02,26.0
38870211,18539669,119901,22,1,13,116,2017-11-10 14:55:07,26.0
38876338,18542788,119901,26,1,13,477,2017-11-10 14:55:11,26.0
38879914,18544538,119901,11,1,13,487,2017-11-10 14:55:13,26.0
38881564,18545306,119901,15,1,13,315,2017-11-10 14:55:14,27.0
38899818,18554134,119901,2,1,18,212,2017-11-10 14:55:25,29.0
38899969,18554228,119901,12,1,18,328,2017-11-10 14:55:25,29.0
39109000,18656768,119901,2,1,18,212,2017-11-10 14:57:35,28.0
39109263,18656915,119901,12,1,18,328,2017-11-10 14:57:35,28.0
39118131,18661215,119901,2,1,19,236,2017-11-10 14:57:40,29.0
39280386,18722265,119901,3,1,19,211,2017-11-10 14:58:49,30.0
39281177,18722512,119901,2,1,19,236,2017-11-10 14:58:49,30.0
39281981,18722802,119901,9,1,19,127,2017-11-10 14:58:50,31.0
39282078,18722844,119901,12,1,19,340,2017-11-10 14:58:50,31.0
39314659,18733975,119901,2,1,18,212,2017-11-10 14:59:01,31.0
39316057,18734441,119901,12,1,18,328,2017-11-10 14:59:02,32.0
39365219,18750170,119901,12,1,22,265,2017-11-10 14:59:18,31.0
39443017,18775421,119901,12,1,19,178,2017-11-10 14:59:44,22.0