In [1]:
import pandas as pd
import pickle

In [2]:
with open('../data/pickle/train.csv.pkl', mode='rb') as f:
    train_df = pickle.load(f)

In [3]:
train_df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0

In [4]:
click_time = train_df.click_time.value_counts()

In [5]:
click_time

2017-11-07 14:00:11    1502
2017-11-08 14:00:16    1497
2017-11-07 05:00:18    1494
2017-11-08 03:00:07    1491
2017-11-07 11:00:21    1474
2017-11-08 14:00:23    1471
2017-11-09 12:00:11    1471
2017-11-07 05:00:15    1463
2017-11-07 09:00:10    1450
2017-11-08 14:00:09    1447
2017-11-08 14:00:18    1437
2017-11-07 14:00:12    1436
2017-11-08 13:00:21    1436
2017-11-09 12:00:14    1432
2017-11-08 14:00:10    1430
2017-11-08 14:00:13    1425
2017-11-08 15:00:19    1423
2017-11-08 14:00:15    1420
2017-11-08 15:00:12    1419
2017-11-09 11:00:19    1419
2017-11-08 09:00:12    1419
2017-11-09 11:00:13    1418
2017-11-09 13:00:17    1417
2017-11-08 03:00:18    1417
2017-11-07 05:00:16    1414
2017-11-08 03:00:09    1413
2017-11-08 03:00:17    1412
2017-11-08 03:00:08    1412
2017-11-07 05:00:17    1410
2017-11-08 13:00:14    1410
                       ...
2017-11-06 15:43:49       1
2017-11-06 15:48:53       1
2017-11-06 15:49:59       1
2017-11-06 15:55:41       1
2017-11-06 15:50:37       1
2017-11-06 15:41:30       1
2017-11-06 15:41:09       1
2017-11-06 15:56:48       1
2017-11-06 14:32:21       1
2017-11-06 15:44:48       1
2017-11-06 14:38:51       1
2017-11-06 15:51:20       1
2017-11-06 15:54:02       1
2017-11-06 15:47:29       1
2017-11-06 15:51:42       1
2017-11-06 15:58:41       1
2017-11-06 15:58:08       1
2017-11-06 15:49:14       1
2017-11-06 15:47:41       1
2017-11-06 15:02:52       1
2017-11-06 15:51:49       1
2017-11-06 15:44:41       1
2017-11-06 15:50:45       1
2017-11-06 15:54:54       1
2017-11-06 15:42:19       1
2017-11-06 15:30:16       1
2017-11-06 15:44:30       1
2017-11-06 15:49:38       1
2017-11-06 15:50:49       1
2017-11-06 14:49:43       1
Name: click_time, Length: 259620, dtype: int64

In [6]:
click_time.describe()

count    259620.000000
mean        712.209730
std         312.266801
min           1.000000
25%         492.000000
50%         835.000000
75%         932.000000
max        1502.000000
Name: click_time, dtype: float64

In [7]:
isAttr = train_df.where(train_df.is_attributed==1)

In [8]:
isNotAttr = train_df.where(train_df.is_attributed==0)

In [9]:
attr_click = isAttr.click_time.value_counts()

In [11]:
not_attr_click = isNotAttr.click_time.value_counts()

In [12]:
attr_click.describe()

count    191457.000000
mean          2.386155
std           1.417428
min           1.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          13.000000
Name: click_time, dtype: float64

In [13]:
not_attr_click.describe()

count    259620.000000
mean        710.450058
std         311.458696
min           1.000000
25%         491.000000
50%         832.000000
75%         930.000000
max        1496.000000
Name: click_time, dtype: float64

In [14]:
train_df.ip.value_counts()

5348      1238734
5314      1171448
73516      770451
73487      763854
53454      498186
114276     427453
26995      401495
95766      378693
17149      310996
105475     302192
100275     276799
43793      261970
105560     260049
86767      257649
111025     247187
137052     217614
201182     212448
5178       211556
49602      200053
5147       197994
48282      188092
48212      185885
48240      182754
48170      180609
123994     176285
209663     173423
93587      171417
84896      170166
45745      169149
119369     159276
           ...
287517          1
322237          1
191100          1
322238          1
275703          1
358930          1
275702          1
252062          1
144444          1
219639          1
322200          1
219638          1
144579          1
219598          1
191066          1
275458          1
358932          1
228052          1
239835          1
219593          1
25479           1
219594          1
322193          1
252079          1
174284          1
219636          1
322191          1
350517          1
144443          1
278672          1
Name: ip, Length: 277396, dtype: int64

In [26]:
train_df.ip.value_counts().describe()

count    2.773960e+05
mean     6.665701e+02
std      5.446831e+03
min      1.000000e+00
25%      3.000000e+00
50%      1.300000e+01
75%      1.490000e+02
max      1.238734e+06
Name: ip, dtype: float64

In [27]:
user_5348 = train_df[train_df['ip'] == 5348]

In [29]:
user_5348[user_5348['is_attributed'] == 1]

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
333355,5348,19,0,38,347,2017-11-06 16:06:22,2017-11-06 16:06:24,1
470922,5348,20,1,26,259,2017-11-06 16:09:20,2017-11-07 00:59:56,1
664836,5348,19,322,24,213,2017-11-06 16:13:48,2017-11-06 16:14:43,1
934988,5348,107,1,19,171,2017-11-06 16:20:23,2017-11-07 02:19:37,1
1816213,5348,3,1,37,280,2017-11-06 16:44:17,2017-11-06 16:44:52,1
2105810,5348,167,1,19,213,2017-11-06 16:53:16,2017-11-07 15:28:26,1
2811466,5348,115,1,13,203,2017-11-06 17:19:20,2017-11-07 01:49:25,1
3026573,5348,29,1,12,343,2017-11-06 17:29:18,2017-11-06 23:12:20,1
3903869,5348,136,0,38,268,2017-11-06 18:23:27,2017-11-06 23:18:47,1
5541070,5348,121,1,19,203,2017-11-06 21:41:39,2017-11-07 04:18:21,1
5623878,5348,19,0,50,347,2017-11-06 21:50:35,2017-11-06 21:51:36,1
6015902,5348,79,1,13,213,2017-11-06 22:19:49,2017-11-07 13:22:34,1
7188278,5348,15,1,18,245,2017-11-06 23:07:45,2017-11-06 23:08:42,1
7236133,5348,3,1,41,480,2017-11-06 23:09:14,2017-11-06 23:09:15,1
7337603,5348,107,1,17,171,2017-11-06 23:12:20,2017-11-07 11:07:28,1
7392140,5348,29,2,8,343,2017-11-06 23:13:54,2017-11-07 02:59:55,1
7396788,5348,121,1,13,203,2017-11-06 23:14:01,2017-11-07 06:56:26,1
8012909,5348,10,1,19,113,2017-11-06 23:30:49,2017-11-06 23:36:15,1
8245434,5348,72,1,13,101,2017-11-06 23:36:23,2017-11-07 02:03:43,1
8256754,5348,29,1,31,343,2017-11-06 23:36:40,2017-11-07 06:08:15,1
8489098,5348,50,398,0,213,2017-11-06 23:42:13,2017-11-07 00:06:39,1
8631906,5348,121,1,13,203,2017-11-06 23:45:34,2017-11-07 05:22:46,1
8696382,5348,10,1,6,113,2017-11-06 23:47:01,2017-11-07 01:33:03,1
9816063,5348,72,1,11,101,2017-11-07 00:09:01,2017-11-07 15:34:15,1
10226933,5348,72,1,16,101,2017-11-07 00:15:49,2017-11-07 10:46:27,1
10227085,5348,72,1,18,101,2017-11-07 00:15:49,2017-11-07 01:25:40,1
10893522,5348,19,0,50,268,2017-11-07 00:26:44,2017-11-07 00:26:58,1
11085650,5348,65,1,18,107,2017-11-07 00:29:47,2017-11-07 06:48:07,1
11217459,5348,15,1,18,412,2017-11-07 00:31:53,2017-11-07 00:38:33,1
11567946,5348,19,0,50,347,2017-11-07 00:37:30,2017-11-07 00:39:10,1
...,...,...,...,...,...,...,...,...
182490311,5348,29,1,17,343,2017-11-09 15:10:55,2017-11-09 15:13:02,1
182503335,5348,19,0,24,343,2017-11-09 15:11:10,2017-11-09 15:11:16,1
182507959,5348,29,1,22,213,2017-11-09 15:11:16,2017-11-09 15:15:48,1
182556985,5348,50,0,38,213,2017-11-09 15:12:06,2017-11-09 15:19:40,1
182649992,5348,19,0,0,343,2017-11-09 15:13:47,2017-11-09 15:14:02,1
182754539,5348,19,46,0,213,2017-11-09 15:15:46,2017-11-09 15:16:41,1
182782458,5348,19,0,24,210,2017-11-09 15:16:16,2017-11-09 15:16:26,1
182905320,5348,19,0,24,213,2017-11-09 15:18:38,2017-11-09 15:19:02,1
183038564,5348,19,0,38,343,2017-11-09 15:21:15,2017-11-09 15:21:25,1
183044502,5348,72,1,17,101,2017-11-09 15:21:22,2017-11-09 15:23:44,1
183127282,5348,111,1,13,459,2017-11-09 15:22:53,2017-11-09 15:26:38,1
183146695,5348,19,0,0,213,2017-11-09 15:23:12,2017-11-09 15:23:15,1
183185810,5348,29,1,17,343,2017-11-09 15:23:58,2017-11-09 15:29:41,1
183244762,5348,18,1,27,134,2017-11-09 15:25:03,2017-11-09 15:26:43,1
183285335,5348,3,2,9,211,2017-11-09 15:25:51,2017-11-09 15:28:50,1
183324122,5348,136,0,24,268,2017-11-09 15:26:36,2017-11-09 15:57:54,1
183361625,5348,19,46,0,213,2017-11-09 15:27:19,2017-11-09 15:28:38,1
183403096,5348,19,0,0,213,2017-11-09 15:28:09,2017-11-09 15:29:12,1
183412552,5348,72,1,13,101,2017-11-09 15:28:20,2017-11-09 15:43:06,1
183462350,5348,20,1,13,478,2017-11-09 15:29:15,2017-11-09 15:30:40,1
183463066,5348,20,1,13,259,2017-11-09 15:29:16,2017-11-09 15:29:45,1
183559249,5348,43,1,19,330,2017-11-09 15:31:19,2017-11-09 15:51:58,1
183687071,5348,29,2,13,210,2017-11-09 15:33:48,2017-11-09 15:34:02,1
184191169,5348,19,0,21,213,2017-11-09 15:44:07,2017-11-09 15:44:09,1
184211238,5348,29,1,19,343,2017-11-09 15:44:33,2017-11-09 15:49:13,1
184299603,5348,29,1,19,213,2017-11-09 15:46:30,2017-11-09 15:48:02,1
184338571,5348,70,0,24,243,2017-11-09 15:47:21,2017-11-09 15:49:45,1
184351969,5348,29,1,13,343,2017-11-09 15:47:37,2017-11-09 15:47:38,1
184386827,5348,72,1,13,101,2017-11-09 15:48:17,2017-11-09 15:51:26,1
184847010,5348,19,0,21,213,2017-11-09 15:58:46,2017-11-09 15:58:57,1

In [30]:
with open('../data/pickle/test.csv.pkl', mode='rb') as f:
    test_df = pickle.load(f)

In [32]:
test_df.ip.value_counts()

5348      182522
5314      162935
73516      69089
73487      68866
53454      61503
114276     52649
95766      38348
26995      38306
17149      30102
43793      30045
112302     29870
100275     26590
5178       25420
105475     24570
111025     23555
125222     23498
5147       23390
119531     23350
44595      23136
84896      21440
93587      21416
90850      20458
45745      19592
119369     18055
53964      17724
119349     17421
119289     17398
53715      17354
49602      16756
79857      15515
           ...
90077          1
24574          1
73686          1
73687          1
57292          1
73716          1
83788          1
40907          1
8155           1
106474         1
57287          1
67395          1
122852         1
8161           1
34673          1
122834         1
57328          1
8174           1
57334          1
106461         1
24548          1
8172           1
116583         1
1887           1
18263          1
40930          1
24570          1
8176           1
106439         1
25837          1
Name: ip, Length: 93936, dtype: int64